Необходимо выполнить одно задание из трёх предложенных.

1. Super Hard. Написать парсер для мобильного приложения Лемана ПРО (Леруа Мерлен)
2. Hard. Написать парсер для мобильного приложения Лента
3. Normal. Написать парсер для мобильного приложения Магнит

Для каждой торговой площадки требования одни и те же. Спарсить любую категорию, где более 100 товаров, для городов Москва и Санкт-Петербург и выгрузить в любой удобный формат(csv, json, xlsx). Важно, чтобы товары были в наличии.

Важно! Парсер должен использовать ТОЛЬКО те эндпоинты, которые использует мобильное приложение. Парсинг сайта не подойдёт.

Необходимые данные:

- id товара из приложения
- наименование
- регулярная цена
- промо цена
- бренд. 